/* UNIVERSAL STYLING */
body {
    cursor: url("../img/pinhead_larry.jpg"), auto;
    background-image: url("../img/spongebob.png");
    background-size: 300px auto;
}

h1 {
    font-size: 2.5em;
}

.col {
    padding-top: 15%;
    height: 100vh;
}

/* LEFT CONTAINER */ 
.rainbow_text {
    /* Rainbow colored text taken from https://stackoverflow.com/questions/40557461/rainbow-gradient-on-text-in-css */
    background: linear-gradient(to bottom right, orange , yellow, green, cyan, blue, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* RIGHT CONTAINER */
#best_page {
    background: white;
}

#best_page:hover {
    animation-name: spin, rainbow_color;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-timing-function: linear;
}


/* ANIMATION CODE */

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

@keyframes rainbow_color {
    0% {
        background: linear-gradient(to bottom right, orange , yellow, green, cyan, blue, violet);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    25% {
        background: linear-gradient(to bottom right, yellow, green, cyan, blue, violet, orange);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    50% {
        background: linear-gradient(to bottom right, green, cyan, blue, violet, orange, yellow);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    75% {
        background: linear-gradient(to bottom right, cyan, blue, violet, orange, yellow, green);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    100% {
        background: linear-gradient(to bottom right, blue, violet, orange, yellow, green, pink);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

}
